*{
	box-sizing: border-box;
}

#menu3D{
	position: fixed;
	z-index: 1000;
}

#menu3D.container-fluid{
	padding: 0;
}

#menu3D .navbar-brand{
	font-family: Oswald;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	text-transform: uppercase;
}

#menu3D .navbar-brand>span{
	font-weight: bold;
	border-top: 1px solid #D5DFE6;
	border-left: 1px solid #D5DFE6;
	padding-left: 7px;
}

#menu3D .nav-link{
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
}

#menu3D .input-group,
#menu3D .input-group .form-control,
#menu3D .input-group .form-control::placeholder,
#menu3D .input-group .form-control + .input-group-append .btn{
	background-color: transparent;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.54);
}

#menu3D .input-group .form-control{
	border: 1px solid rgba(255, 255, 255, 0.37);
	border-right: 0;
}

#menu3D .input-group .form-control + .input-group-append .btn{
 	border: 1px solid rgba(255, 255, 255, 0.37);
	border-left: 0;
}

#menu3D  .phone,
#menu3D .prjMenuBtn button{
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 80px;
}

#menu3D .prjMenuBtn button{
	background-color: transparent;
	border: 0;
}

.gallery{
	width: 100%;
	height: 100vh;
}

.gallery .carousel-indicators li{
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid white;
}

.gallery #homeGallery{
	background: #ccdbe5;
	height: inherit;
}

.gallery .carousel-inner{
	height: inherit;
}

.gallery .carousel-control-prev,
.gallery .carousel-control-next{
	width: 17px;
	height: 9px;
	top: 94%;
}
