* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important; }

*:focus {
  color: #495057;
  border-color: #DDE9EF !important;
  outline: 0;
  -webkit-box-shadow: 0 0 !important;
  box-shadow: 0 0 !important; }

body,
html {
  overflow-x: hidden !important; }

.row {
  margin-left: 0;
  margin-right: 0; }

#menu3D {
  z-index: 1040; }
  @media (max-width: 1200px) {
    #menu3D.fixed-top {
      position: -webkit-sticky;
      position: sticky;
      top: 0; } }
  @media (max-width: 800px) {
    #menu3D.fixed-top {
      position: static; } }
  #menu3D > .container-fluid {
    padding: 0;
    background-color: #fff; }
    #menu3D > .container-fluid > .navbar {
      padding: 0;
      border-bottom: 1px solid #DDE9EF;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
      #menu3D > .container-fluid > .navbar.navbar-light .navbar-toggler {
        border: 0;
        border: 1px solid #DDE9EF;
        padding: 20px;
        border-radius: 0; }
        #menu3D > .container-fluid > .navbar.navbar-light .navbar-toggler:focus {
          -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
          outline: 0; }
      @media (max-width: 1000px) {
        #menu3D > .container-fluid > .navbar.navbar-expand-sm {
          -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important; } }
      #menu3D > .container-fluid > .navbar > .container {
        padding-right: 0;
        padding-left: 0;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; }
        @media (min-width: 900px) {
          #menu3D > .container-fluid > .navbar > .container {
            margin: 0 auto;
            max-width: 80%; } }
        @media (max-width: 880px) {
          #menu3D > .container-fluid > .navbar > .container {
            max-width: 78%; } }
        #menu3D > .container-fluid > .navbar > .container .row {
          margin-right: 0;
          margin-left: 0; }
          #menu3D > .container-fluid > .navbar > .container .row .searchBtn {
            border-left: 1px solid #DDE9EF;
            border-right: 1px solid #DDE9EF; }
            @media (max-width: 1000px) {
              #menu3D > .container-fluid > .navbar > .container .row .searchBtn {
                border-right: 0; } }
            @media (max-width: 880px) {
              #menu3D > .container-fluid > .navbar > .container .row .searchBtn {
                padding-top: 15px;
                padding-bottom: 15px; } }
            @media (max-width: 770px) {
              #menu3D > .container-fluid > .navbar > .container .row .searchBtn {
                border-left: 0;
                border-top: 1px solid #DDE9EF; } }
          #menu3D > .container-fluid > .navbar > .container .row .input-group {
            max-width: 285px;
            height: 40px; }
            #menu3D > .container-fluid > .navbar > .container .row .input-group .form-control {
              border-right: 0;
              height: inherit;
              border-color: #DAE4EA;
              border-radius: 0;
              font-family: Noto Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              color: #494949;
              padding-left: 25px; }
              #menu3D > .container-fluid > .navbar > .container .row .input-group .form-control::-webkit-input-placeholder {
                color: #C4CED5; }
              #menu3D > .container-fluid > .navbar > .container .row .input-group .form-control:-ms-input-placeholder {
                color: #C4CED5; }
              #menu3D > .container-fluid > .navbar > .container .row .input-group .form-control::-ms-input-placeholder {
                color: #C4CED5; }
              #menu3D > .container-fluid > .navbar > .container .row .input-group .form-control::placeholder {
                color: #C4CED5; }
            #menu3D > .container-fluid > .navbar > .container .row .input-group .input-group-text {
              background-color: transparent;
              line-height: 0;
              padding-top: 0;
              padding-bottom: 0;
              border-left: 0;
              border-color: #DAE4EA;
              border-radius: 0;
              cursor: pointer; }
              #menu3D > .container-fluid > .navbar > .container .row .input-group .input-group-text:focus {
                color: #495057;
                background-color: #fff;
                border-color: #DDE9EF !important;
                outline: 0;
                -webkit-box-shadow: 0 0 !important;
                box-shadow: 0 0 !important; }
        @media (max-width: 770px) {
          #menu3D > .container-fluid > .navbar > .container .navbar-nav {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center; } }
        #menu3D > .container-fluid > .navbar > .container .navbar-nav .nav-link {
          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #494949; }
      #menu3D > .container-fluid > .navbar > .navbar-brand {
        border-right: 1px solid #DDE9EF;
        padding: 20px; }
        @media (max-width: 770px) {
          #menu3D > .container-fluid > .navbar > .navbar-brand {
            border-bottom: 1px solid #DDE9EF; } }
        #menu3D > .container-fluid > .navbar > .navbar-brand > img {
          width: 100%; }
      #menu3D > .container-fluid > .navbar > .minMenu3D {
        width: 100%; }
        @media (min-width: 1001px) {
          #menu3D > .container-fluid > .navbar > .minMenu3D {
            width: 380px; } }
        @media (max-width: 1200px) {
          #menu3D > .container-fluid > .navbar > .minMenu3D {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
        #menu3D > .container-fluid > .navbar > .minMenu3D > .row {
          margin-right: 0;
          margin-left: 0; }
          #menu3D > .container-fluid > .navbar > .minMenu3D > .row .prjMenuThree {
            background-color: transparent;
            border: 0; }
            #menu3D > .container-fluid > .navbar > .minMenu3D > .row .prjMenuThree:focus {
              border: 0;
              outline: 0;
              -webkit-box-shadow: 0 0;
              box-shadow: 0 0; }
          @media (min-width: 1090px) {
            #menu3D > .container-fluid > .navbar > .minMenu3D > .row > .phBtn {
              border-right: 1px solid #DDE9EF; } }
          @media (max-width: 1200px) {
            #menu3D > .container-fluid > .navbar > .minMenu3D > .row > .phBtn {
              border-top: 1px solid #DDE9EF; } }
          @media (max-width: 1200px) {
            #menu3D > .container-fluid > .navbar > .minMenu3D > .row > .phBtn + div.col-12 {
              border-top: 1px solid #DDE9EF;
              border-left: 1px solid #DDE9EF; } }
          #menu3D > .container-fluid > .navbar > .minMenu3D > .row > .phBtn .phone {
            background-color: #E9F1F5;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative; }
            #menu3D > .container-fluid > .navbar > .minMenu3D > .row > .phBtn .phone > img {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              position: absolute;
              top: calc(50% - 7.5px);
              left: calc(50% - 7.5px); }

#projMenuModal.modal {
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  #projMenuModal.modal .modal-dialog {
    min-width: 100% !important;
    margin: 0;
    padding: 50px;
    background-color: #fff;
    position: relative;
    left: 0;
    right: 0; }
    #projMenuModal.modal .modal-dialog > .modal-content {
      border: 0; }
      #projMenuModal.modal .modal-dialog > .modal-content > .container {
        padding: 0; }
      #projMenuModal.modal .modal-dialog > .modal-content .modal-header {
        border-bottom: 0;
        position: absolute;
        top: -30px;
        right: -30px;
        padding: 0;
        width: auto; }
      #projMenuModal.modal .modal-dialog > .modal-content > .container .modal-body {
        padding: 0;
        margin-left: 0;
        margin-right: 0; }
      #projMenuModal.modal .modal-dialog > .modal-content > .container .row {
        padding: 0 !important; }
        #projMenuModal.modal .modal-dialog > .modal-content > .container .row .col-xl,
        #projMenuModal.modal .modal-dialog > .modal-content > .container .row .col-md-6,
        #projMenuModal.modal .modal-dialog > .modal-content > .container .row .col-12 {
          padding: 0; }
        #projMenuModal.modal .modal-dialog > .modal-content > .container .row#projMiniMenuBody h2,
        #projMenuModal.modal .modal-dialog > .modal-content > .container .row#projMiniMenuBody li > a {
          font-family: Noto Sans !important;
          font-style: normal !important;
          font-weight: bold !important;
          font-size: 14px !important;
          letter-spacing: 1px !important;
          text-transform: uppercase !important;
          color: #494949 !important; }
        #projMenuModal.modal .modal-dialog > .modal-content > .container .row#projMiniMenuBody h2 {
          margin-bottom: 20px; }
        #projMenuModal.modal .modal-dialog > .modal-content > .container .row#projMiniMenuBody li > a {
          font-weight: normal !important;
          color: #88989D !important; }
          #projMenuModal.modal .modal-dialog > .modal-content > .container .row#projMiniMenuBody li > a:hover {
            text-decoration: none;
            color: #5FCAEA !important; }

.modal-backdrop {
  background-color: transparent !important; }

#home3D {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh; }
  @media (max-width: 1000px) {
    #home3D {
      height: auto;
      background-color: transparent !important; } }
  #home3D section.container-fluid {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 500px) {
      #home3D section.container-fluid {
        height: 400px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: transparent; } }
    #home3D section.container-fluid #bigGalleryHome3d {
      width: 100vw;
      height: 100vh; }
      @media (max-width: 1000px) {
        #home3D section.container-fluid #bigGalleryHome3d {
          height: 650px; } }
      @media (max-width: 500px) {
        #home3D section.container-fluid #bigGalleryHome3d {
          height: auto; } }
      #home3D section.container-fluid #bigGalleryHome3d .carousel-inner {
        height: inherit; }
        #home3D section.container-fluid #bigGalleryHome3d .carousel-inner > .carousel-item,
        #home3D section.container-fluid #bigGalleryHome3d .carousel-inner > .carousel-item > img {
          width: 100%;
          height: 100%; }
        #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: left; }
          #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid {
            width: 100%;
            height: 100%; }
            #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row {
              height: 450px;
              position: relative; }
              @media (max-width: 500px) {
                #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row {
                  height: 400px;
                  display: none; } }
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h2,
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h1 {
                font-family: Oswald;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                letter-spacing: 1px;
                color: #fff; }
                @media (max-width: 500px) {
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h2,
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h1 {
                    font-size: 36px; } }
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h1 {
                font-size: 96px;
                text-transform: uppercase; }
                @media (max-width: 500px) {
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h1 {
                    font-size: 72px; } }
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h4,
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row th {
                font-family: Noto Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: #fff; }
                @media (max-width: 500px) {
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h4,
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row th {
                    font-size: 11.5px; } }
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h4 {
                font-size: 36px; }
                @media (max-width: 500px) {
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row h4 {
                    font-size: 30px; } }
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row td, #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row th {
                padding-right: 25px; }
                @media (max-width: 500px) {
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row td, #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row th {
                    padding-right: 18.5px; } }
              #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row .popoverbigGalleryHome3d {
                position: absolute;
                background-color: #fff;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: #494949;
                max-width: 395px;
                padding: 20px;
                left: 50%;
                top: 30%; }
                @media (min-width: 800px) {
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row .popoverbigGalleryHome3d {
                    font-size: 12px; } }
                #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row .popoverbigGalleryHome3d:before {
                  content: '';
                  position: absolute;
                  border: 10px solid transparent;
                  border-right-color: #fff;
                  top: calc(50% - 10px);
                  left: -20px; }
                #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row .popoverbigGalleryHome3d p {
                  margin-bottom: 0; }
                  #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row .popoverbigGalleryHome3d p:last-child {
                    margin-top: 10px;
                    font-weight: bold;
                    font-size: 14px; }
                    @media (min-width: 800px) {
                      #home3D section.container-fluid #bigGalleryHome3d .carousel-inner .carousel-caption .container-fluid .container > .row .popoverbigGalleryHome3d p:last-child {
                        font-size: 11.5px; } }
      #home3D section.container-fluid #bigGalleryHome3d .galleryShadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(70, 70, 70, 0.35); }
        @media (max-width: 500px) {
          #home3D section.container-fluid #bigGalleryHome3d .galleryShadow {
            display: none; } }
      #home3D section.container-fluid #bigGalleryHome3d .galleryBtns {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 0;
        right: 0; }
        @media (max-width: 500px) {
          #home3D section.container-fluid #bigGalleryHome3d .galleryBtns {
            position: relative; } }
        #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container {
          padding: 0; }
          @media (max-width: 800px) {
            #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container {
              margin: auto;
              max-width: 95% !important; } }
          #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .bookProj > .bookPjBtn {
            background: #5FCAEA;
            -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
            width: 394px;
            height: 115px;
            border: 0;
            outline: 0;
            font-family: Noto Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #fff; }
            #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .bookProj > .bookPjBtn > svg {
              margin-right: 15px; }
            @media (max-width: 800px) {
              #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .bookProj > .bookPjBtn {
                width: 100%;
                font-size: 12px; } }
          #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .arrowsGall {
            background-color: #F5F8FA;
            min-width: 229px;
            height: 115px; }
            @media (max-width: 800px) {
              #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .arrowsGall {
                min-width: 50%; } }
            #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .arrowsGall .carousel-control-prev,
            #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .arrowsGall .carousel-indicators,
            #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .arrowsGall .carousel-control-next {
              position: static; }
            #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .arrowsGall .carousel-indicators {
              margin-bottom: 0 !important; }
              #home3D section.container-fluid #bigGalleryHome3d .galleryBtns .container .arrowsGall .carousel-indicators li {
                border: 2px solid #5FCAEA;
                border-radius: 50%;
                width: 11px;
                height: 11px; }

#filterFindHome {
  position: relative;
  z-index: 1000; }
  #filterFindHome .findBox {
    position: relative; }
    #filterFindHome .findBox .filterHomeBtn {
      background: transparent url("../img/filterBtn.png") no-repeat;
      border: 0;
      width: 52px;
      height: 240px;
      position: absolute;
      left: -49px;
      top: calc(35% - 120px);
      z-index: 100;
      text-shadow: 1px 1px 0 #5FCAEA, 0 0 10px #5FCAEA; }
      @media (max-width: 800px) and (max-height: 700px) {
        #filterFindHome .findBox .filterHomeBtn {
          top: calc(20% - 120px); } }
      @media (max-width: 600px) {
        #filterFindHome .findBox .filterHomeBtn {
          top: calc(15% - 120px); } }
      #filterFindHome .findBox .filterHomeBtn:focus {
        border: 0;
        outline: 0;
        -webkit-box-shadow: 0 0;
        box-shadow: 0 0; }
      #filterFindHome .findBox .filterHomeBtn > span {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
        display: block;
        width: 240px;
        -webkit-transform: rotateZ(-90deg) translateY(-100px);
        -ms-transform: rotate(-90deg) translateY(-100px);
        transform: rotateZ(-90deg) translateY(-100px); }
    #filterFindHome .findBox .filterHomeBody {
      background-color: #fff;
      border: 1px solid #DDE9EF;
      position: relative; }
      #filterFindHome .findBox .filterHomeBody h2,
      #filterFindHome .findBox .filterHomeBody dl > dt {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #494949;
        padding: 23px; }
      #filterFindHome .findBox .filterHomeBody dl {
        margin-bottom: 0; }
      #filterFindHome .findBox .filterHomeBody dl > dt {
        font-size: 14px;
        border-top: 1px solid #DDE9EF;
        border-bottom: 1px solid #DDE9EF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
        cursor: pointer; }
        #filterFindHome .findBox .filterHomeBody dl > dt > span:last-child {
          color: #5FCAEA;
          font-size: 20px; }
      #filterFindHome .findBox .filterHomeBody dl > dd {
        padding: 20px;
        margin-bottom: 0; }
        #filterFindHome .findBox .filterHomeBody dl > dd ul {
          margin-bottom: 0  !important; }
        #filterFindHome .findBox .filterHomeBody dl > dd table {
          margin-bottom: 0; }
          #filterFindHome .findBox .filterHomeBody dl > dd table td {
            padding: 0; }
        #filterFindHome .findBox .filterHomeBody dl > dd label {
          position: relative;
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding-left: 35px;
          margin-bottom: 12px; }
          #filterFindHome .findBox .filterHomeBody dl > dd label > input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0; }
          #filterFindHome .findBox .filterHomeBody dl > dd label > .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 16px;
            width: 16px;
            background-color: #fff;
            border: 1px solid #DAE4EA; }
            #filterFindHome .findBox .filterHomeBody dl > dd label > .checkmark:after {
              content: "";
              position: absolute;
              display: none;
              left: 4.5px;
              top: 1.5px;
              width: 5px;
              height: 10px;
              border: 1.5px solid #5FCAEA;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
          #filterFindHome .findBox .filterHomeBody dl > dd label input:checked ~ .checkmark {
            background-color: #fff;
            border-color: #5FCAEA; }
          #filterFindHome .findBox .filterHomeBody dl > dd label input:checked ~ .checkmark:after {
            display: block; }
        #filterFindHome .findBox .filterHomeBody dl > dd label,
        #filterFindHome .findBox .filterHomeBody dl > dd label input[type="checkbox"] {
          font-family: Noto Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: #494949; }
      #filterFindHome .findBox .filterHomeBody .btnHomeFilterSearch,
      #filterFindHome .findBox .filterHomeBody .resetFilterBtn {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #5FCAEA;
        background-color: transparent;
        border: 2px solid #5FCAEA;
        width: 90%;
        margin: 20px auto;
        display: block;
        padding: 25px 30px; }
        @media (min-width: 1000px) {
          #filterFindHome .findBox .filterHomeBody .btnHomeFilterSearch,
          #filterFindHome .findBox .filterHomeBody .resetFilterBtn {
            font-size: 14px; } }
        #filterFindHome .findBox .filterHomeBody .btnHomeFilterSearch > svg,
        #filterFindHome .findBox .filterHomeBody .resetFilterBtn > svg {
          margin-left: 15px; }
        #filterFindHome .findBox .filterHomeBody .btnHomeFilterSearch:focus,
        #filterFindHome .findBox .filterHomeBody .resetFilterBtn:focus {
          outline: 0;
          -webkit-box-shadow: 0 0;
          box-shadow: 0 0; }
      #filterFindHome .findBox .filterHomeBody .btnHomeFilterSearch:focus {
        border: 2px solid #5FCAEA; }
      #filterFindHome .findBox .filterHomeBody .resetFilterBtn {
        border: 0;
        padding: 0;
        margin: 5px auto 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px; }
        @media (min-width: 1000px) {
          #filterFindHome .findBox .filterHomeBody .resetFilterBtn {
            font-size: 12px; } }

#homeNewPojectes {
  background-color: #fff; }
  #homeNewPojectes .container {
    padding: 100px 0; }
    #homeNewPojectes .container > .row h2 {
      font-family: Oswald;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 71px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #494949;
      margin-bottom: 0; }
    #homeNewPojectes .container > .row button {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #5FCAEA;
      background-color: transparent;
      border: 0; }
      #homeNewPojectes .container > .row button > svg {
        margin-left: 15px; }
    #homeNewPojectes .container .containerNewProjSlider > .container {
      padding: 0; }
    #homeNewPojectes .container .containerNewProjSlider .card {
      border-radius: 0;
      border: 1px solid #DDE9EF !important;
      outline: 0 !important;
      background-color: transparent !important; }
      #homeNewPojectes .container .containerNewProjSlider .card .card-img-top {
        border-radius: 0;
        position: relative; }
        #homeNewPojectes .container .containerNewProjSlider .card .card-img-top .stok {
          position: absolute;
          background: #5ACB80;
          top: 15px;
          left: 15px;
          padding: 10px;
          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          color: #fff; }
        #homeNewPojectes .container .containerNewProjSlider .card .card-img-top .info {
          position: absolute;
          bottom: 25px;
          left: 15px;
          padding: 6px 10px;
          background-color: #5FCAEA;
          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          color: #fff;
          max-width: 90%; }
        #homeNewPojectes .container .containerNewProjSlider .card .card-img-top .heart {
          position: absolute;
          background-color: #E9F1F5;
          border: 4px solid #fff;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          bottom: -20px;
          right: 15px;
          z-index: 30; }
          #homeNewPojectes .container .containerNewProjSlider .card .card-img-top .heart > img {
            width: 30px;
            position: relative;
            left: -1px;
            top: -2px; }
          #homeNewPojectes .container .containerNewProjSlider .card .card-img-top .heart:focus {
            background-color: #5FCAEA;
            -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
            outline: 0;
            border-color: #fff; }
      #homeNewPojectes .container .containerNewProjSlider .card .card-body .card-title {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #494949;
        margin-bottom: 20px;
        margin-top: 20px; }
      #homeNewPojectes .container .containerNewProjSlider .card .card-body .card-text {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;
        color: #88989D; }
      #homeNewPojectes .container .containerNewProjSlider .card .card-body table td {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        color: #494949;
        padding: 0px 5px; }
        #homeNewPojectes .container .containerNewProjSlider .card .card-body table td[rowspan='2'] {
          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #494949;
          text-align: right; }
          @media (min-width: 400px) and (max-width: 900px) {
            #homeNewPojectes .container .containerNewProjSlider .card .card-body table td[rowspan='2'] {
              font-size: 18px; } }
      #homeNewPojectes .container .containerNewProjSlider .card .card-body .cardLinkBtns {
        margin-top: 30px;
        margin-bottom: 15px; }
        #homeNewPojectes .container .containerNewProjSlider .card .card-body .cardLinkBtns a img {
          width: 30px;
          height: 30px; }
        #homeNewPojectes .container .containerNewProjSlider .card .card-body .cardLinkBtns a:focus, #homeNewPojectes .container .containerNewProjSlider .card .card-body .cardLinkBtns a:hover {
          border: 0;
          outline: 0;
          -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
          text-decoration: none; }
        #homeNewPojectes .container .containerNewProjSlider .card .card-body .cardLinkBtns .text-right > a {
          font-family: Noto Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 26px;
          color: #5FCAEA;
          border-bottom: 1px solid #E2F5FB;
          padding-bottom: 3px; }
    #homeNewPojectes .container .containerNewProjSlider #demos .owl-carousel .item {
      height: auto !important;
      background-color: transparent !important;
      padding: 0;
      border: 0 !important;
      outline: 0 !important; }
    #homeNewPojectes .container .containerNewProjSlider .owl-item .active {
      border: 0 !important;
      outline: 0 !important;
      background-color: transparent !important; }
    #homeNewPojectes .container .containerNewProjSlider .owl-theme .owl-dots {
      display: none; }
    #homeNewPojectes .container .containerNewProjSlider #demos {
      margin: auto;
      padding: 0 15px; }
      #homeNewPojectes .container .containerNewProjSlider #demos .row {
        margin: 0; }
    #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-theme .owl-loaded .owl-drag {
      position: relative; }
    #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-stage-outer {
      z-index: 20; }
    #homeNewPojectes .container .containerNewProjSlider .owl-theme .owl-nav {
      margin: 0;
      position: absolute;
      width: 100%;
      top: 50%;
      z-index: 10; }
    #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      right: -65px;
      width: 30px;
      height: 30px;
      background: url("../img/icons/arrow-rigth.svg") center no-repeat; }
      #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-next span {
        display: none; }
      @media (min-width: 700px) and (max-width: 1000px) {
        #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-next {
          right: -40px; } }
      @media (max-width: 700px) {
        #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-next {
          display: none; } }
      #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-next:hover {
        background-color: transparent;
        color: transparent; }
      #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-next:focus {
        outline: 0;
        border: 0;
        -webkit-box-shadow: 0 0;
        box-shadow: 0 0; }
    #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      left: -65px;
      width: 30px;
      height: 30px;
      background: url("../img/icons/arrow-left.svg") center no-repeat; }
      #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-prev span {
        display: none; }
      @media (min-width: 700px) and (max-width: 1000px) {
        #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-prev {
          left: -40px; } }
      @media (max-width: 700px) {
        #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-prev {
          display: none; } }
      #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-prev:hover {
        background-color: transparent;
        color: transparent; }
      #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-nav button.owl-prev:focus {
        outline: 0;
        border: 0;
        -webkit-box-shadow: 0 0;
        box-shadow: 0 0; }
    #homeNewPojectes .container .containerNewProjSlider .owl-carousel .owl-item img {
      display: inline; }

#orderIndiviProj {
  background-color: #F5F8FA; }
  #orderIndiviProj .container {
    padding: 80px 0; }
    #orderIndiviProj .container > h2 {
      font-family: Oswald;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 71px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #494949; }
      @media (min-width: 1000px) {
        #orderIndiviProj .container > h2 {
          width: 55%;
          margin: auto; } }
    #orderIndiviProj .container > .row {
      margin-top: 80px;
      margin-bottom: 40px; }
      #orderIndiviProj .container > .row .steps {
        text-align: center;
        margin-bottom: 25px; }
        #orderIndiviProj .container > .row .steps p {
          width: 78%;
          margin: auto;
          font-family: Noto Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #88989D; }
          @media (max-width: 1000px) {
            #orderIndiviProj .container > .row .steps p {
              width: 60%;
              max-width: 500px; } }
        #orderIndiviProj .container > .row .steps > .numStep {
          position: relative;
          width: 100px;
          height: 120px;
          margin: auto; }
          #orderIndiviProj .container > .row .steps > .numStep > .bgNumber {
            font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            font-size: 96px;
            line-height: 142px;
            text-transform: uppercase;
            color: #E9F1F5;
            position: absolute;
            top: 0;
            left: 0; }
          #orderIndiviProj .container > .row .steps > .numStep > .step3D {
            font-family: Noto Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 26px;
            color: #5FCAEA;
            position: absolute;
            top: calc(50% - 4px);
            left: calc(50% - 45px); }
    #orderIndiviProj .container .orderIndPrBtn {
      width: 349px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #5FCAEA;
      background-color: transparent;
      border: 2px solid #5FCAEA;
      margin: 20px auto;
      display: block;
      padding: 25px 30px; }
      #orderIndiviProj .container .orderIndPrBtn > svg {
        margin-left: 15px; }
      #orderIndiviProj .container .orderIndPrBtn:focus {
        outline: 0;
        -webkit-box-shadow: 0 0;
        box-shadow: 0 0; }
      @media (max-width: 349) {
        #orderIndiviProj .container .orderIndPrBtn {
          width: 95%; } }

#freeProjHome3D {
  background-color: #5FCAEA;
  position: relative; }
  #freeProjHome3D:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 50%;
    top: 50%;
    left: -60%;
    z-index: 1; }
    @media (min-width: 1200px) {
      #freeProjHome3D:before {
        left: -58%; } }
    @media (max-width: 999px) {
      #freeProjHome3D:before {
        display: none; } }
  #freeProjHome3D .container {
    padding: 60px 0;
    position: relative;
    z-index: 200; }
    #freeProjHome3D .container .freePrImg {
      margin-bottom: 20px; }
    #freeProjHome3D .container .freePrInfo {
      padding: 15px 20px; }
      #freeProjHome3D .container .freePrInfo h2 {
        font-family: Oswald;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff; }
      #freeProjHome3D .container .freePrInfo p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        margin-top: 35px;
        color: #FBFEFF; }
      #freeProjHome3D .container .freePrInfo button {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        border: 0;
        margin-top: 35px;
        margin-left: 0;
        padding-left: 0; }
        #freeProjHome3D .container .freePrInfo button:focus {
          -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
          border: 0;
          outline: 0; }
        #freeProjHome3D .container .freePrInfo button > svg {
          margin-left: 15px; }

#headSeoText {
  background-color: #fff; }
  #headSeoText .container {
    padding: 100px 50px 100px 100px; }
    @media (max-width: 1000px) {
      #headSeoText .container {
        padding: 100px 0; } }
    #headSeoText .container .row {
      padding: 60px; }
      #headSeoText .container .row h3 {
        font-family: Oswald;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #494949;
        margin-bottom: 0; }
      #headSeoText .container .row .seoText h4 {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #494949;
        margin-top: 40px; }
      #headSeoText .container .row .seoText p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #88989D;
        margin-top: 35px; }
      #headSeoText .container .row .seoNavbar {
        border: 1px solid #DDE9EF;
        padding: 25px;
        margin-left: auto; }
        #headSeoText .container .row .seoNavbar h5 {
          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;
          color: #494949;
          margin-bottom: 10px; }
        #headSeoText .container .row .seoNavbar ul > li {
          margin-bottom: 5px; }
          #headSeoText .container .row .seoNavbar ul > li > a {
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            color: #5FCAEA;
            border-bottom: 1px solid #E2F5FB; }
            #headSeoText .container .row .seoNavbar ul > li > a:hover {
              text-decoration: none; }

#footer3D {
  background-color: #F5F8FA;
  padding: 50px 0 0; }
  #footer3D .container .footerStLinks table td {
    padding: 3px 15px; }
    #footer3D .container .footerStLinks table td > a {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 26px;
      color: #494949; }
      #footer3D .container .footerStLinks table td > a:hover {
        text-decoration: none; }
  #footer3D .container .footerLsLinks > .row ul > li,
  #footer3D .container .footerLsLinks > .row ul > li > a {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #88989D; }
  #footer3D .container .footerLsLinks > .row ul > li > a {
    color: #5FCAEA; }
    #footer3D .container .footerLsLinks > .row ul > li > a:hover {
      text-decoration: none; }
  #footer3D .container .footerLsLinks > .row .homeFooterContact {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #footer3D .container .footerLsLinks > .row .homeFooterContact:focus {
      border: 0;
      outline: 0;
      -webkit-box-shadow: 0 0;
      box-shadow: 0 0; }
    #footer3D .container .footerLsLinks > .row .homeFooterContact span {
      min-height: 47px;
      margin-right: 15px;
      border: 2px solid #5FCAEA;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #5FCAEA;
      padding: 10px  12px; }
  #footer3D .footerCopyYouT {
    padding: 25px 0  15px;
    border-top: 1px solid #DDE9EF;
    margin-top: 35px; }
    #footer3D .footerCopyYouT p, #footer3D .footerCopyYouT a {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #C4CED5; }
    #footer3D .footerCopyYouT a {
      vertical-align: top; }
      #footer3D .footerCopyYouT a:hover {
        text-decoration: none; }
      #footer3D .footerCopyYouT a span {
        margin-left: 15px;
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: #E9F1F5;
        border-radius: 50%;
        position: relative;
        top: -5px; }
        #footer3D .footerCopyYouT a span img {
          position: absolute;
          top: calc(50% - 5px);
          left: calc(50% - 7px); }
