$color1: #fff;
$color2: #5FCAEA;
$color3: #DDE9EF;
$color4: #494949;

*{
	box-sizing: border-box !important;
}

*:focus{
	color: #495057;
    border-color: $color3 !important;
    outline: 0;
    box-shadow: 0 0 !important;
}

body,
html{
	overflow-x: hidden !important;
}

.row{
	margin-left: 0;
	margin-right: 0;
}
// Menu of page
#menu3D{
	z-index: 1040;
	&.fixed-top{
		@media (max-width: 1200px) {
			position: sticky;
			top:0;
		}
		@media (max-width: 800px) {
			position: static;
		}
	}


	&>.container-fluid{
		padding: 0;
		background-color: $color1;
		
		&>.navbar{
			padding:0;
			border-bottom:  1px solid $color3;
			align-items: stretch;

			&.navbar-light .navbar-toggler{
				border: 0;
				border: 1px solid $color3;
				padding: 20px;
				border-radius: 0;

				&:focus{
					box-shadow: 0 0;
					outline: 0;
				}
			}
			
			&.navbar-expand-sm{
				@media (max-width: 1000px) {
					flex-wrap: wrap !important;
				}
			}
			&>.container{
				padding-right: 0;
				padding-left: 0;
				align-items: stretch;

				@media (min-width: 900px) {
					margin: 0 auto;
					max-width: 80%;
				}
				@media (max-width: 880px) {
					max-width: 78%;
				}

				& .row{
					margin-right: 0;
 					margin-left: 0;

 					& .searchBtn{
						border-left: 1px solid $color3;
						border-right: 1px solid $color3;

						@media (max-width: 1000px) {
							border-right: 0;
						}

						@media (max-width: 880px) {
							padding-top: 15px;
							padding-bottom: 15px;
						}

						@media (max-width: 770px) {
							border-left: 0;
							border-top: 1px solid $color3;

						}
					}

 					& .input-group{
						max-width: 285px;
						height: 40px;

						& .form-control{
							border-right: 0;
							height: inherit;
							border-color: #DAE4EA;
							border-radius: 0;
							font-family: Noto Sans;
							font-style: normal;
							font-weight: normal;
							font-size: 12px;
							color: $color4;
							padding-left: 25px;
							&::placeholder{
								color: #C4CED5;
							}
						}

						& .input-group-text{
							background-color: transparent;
							line-height: 0;
							padding-top: 0;
							padding-bottom: 0;
							border-left: 0;
							border-color: #DAE4EA;
							border-radius: 0;
							cursor: pointer;

							&:focus{
								color: #495057;
							    background-color: $color1;
							    border-color: $color3 !important;
							    outline: 0;
							    box-shadow: 0 0 !important;
							}
						}
 					}
				}

				& .navbar-nav{

					@media (max-width: 770px) {
						    justify-content: space-between;
						    width: 100%;
						    padding-top: 15px;
						    padding-bottom: 15px;
						    text-align: center;
					}

					& .nav-link{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						letter-spacing: 1px;
						text-transform: uppercase;
						color:$color4;
					}
				}

			}

			&>.navbar-brand{
				border-right: 1px solid $color3;
				padding: 20px;
				
				@media (max-width: 770px) {
					border-bottom: 1px solid $color3;
				}
				&> img{
					width: 100%;
				}	
			}

			
			&>.minMenu3D {
				width: 100%;
				@media (min-width: 1001px){
					width: 380px;
				}
				@media (max-width: 1200px) {
					flex-wrap: wrap;
				}
				
				&>.row{
					margin-right: 0;
 					margin-left: 0;

 					& .prjMenuThree{
 						background-color: transparent;
 						border: 0;
 						&:focus{
 							border: 0;
 							outline: 0;
 							box-shadow: 0 0;
 						}
 					}

 					&>.phBtn{
 						@media (min-width: 1090px) {
							border-right: 1px solid $color3;
 						}
 						@media (max-width: 1200px) {
 							border-top:  1px solid $color3;
 						}
						& + div.col-12{
							@media (max-width: 1200px) {
 								border-top:  1px solid $color3;
 								border-left: 1px solid $color3;
 							}
						}
						& .phone{
							background-color: #E9F1F5;
							width: 30px;
							height: 30px;
							border-radius: 50%;
							position: relative;

							&>img{
								width: 15px;
								height: 15px;
								border-radius: 50%;
								position: absolute;
								top: calc(50% - 7.5px);
								left:calc(50% - 7.5px);
							}
						}
					} 
				}
			}
		}

	}
}

// Poject Menu Modal
#projMenuModal{

	&.modal { 
   		background-color: transparent !important; 
   		padding-left: 0 !important;
   		padding-right: 0 !important;

   		.modal-dialog {
			min-width: 100% !important;
			margin: 0;
			padding: 50px;
			background-color: $color1;
			position: relative;
			left: 0;
			right: 0;

			&>.modal-content{
				border: 0;

				&>.container{
					padding: 0;
				}

				.modal-header{
					border-bottom: 0;
					position: absolute;
					top: -30px;
					right: -30px;
					padding: 0;
					width: auto;
				}

				&>.container .modal-body{
					padding: 0;
					margin-left: 0;
					margin-right: 0;
				}

				&>.container .row{
					padding: 0 !important;
					
					.col-xl,
					.col-md-6,
					.col-12{
						padding: 0;
					}

					&#projMiniMenuBody h2,
					&#projMiniMenuBody li > a{
						font-family: Noto Sans !important;
						font-style: normal !important;
						font-weight: bold !important;
						font-size: 14px !important;
						letter-spacing: 1px !important;
						text-transform: uppercase !important;
						color: $color4 !important;
					}

					&#projMiniMenuBody h2{
						margin-bottom: 20px;
					}

					&#projMiniMenuBody  li > a{
						font-weight: normal !important;
						color: #88989D !important;
						&:hover{
							text-decoration: none;
							color: $color2 !important;
						}
					}
				} 
			}
   		}

	}
}
.modal-backdrop{
	background-color: transparent !important; 
}

// Header of page // Gallery
#home3D{

	section.container-fluid{
		padding: 0;
		background-color: rgba(70, 70, 70, .8);
		display: flex;
		justify-content: center;

		@media (max-width: 500px) {
			height: 400px;
			align-items: center;
			background-color: transparent;

		}


		#bigGalleryHome3d{
			max-width: 1942px;
			height: 100vh;
				
			@media (max-width: 1000px) {
				height: 650px;
			}

			@media (max-width: 500px) {
				height: auto;

			}

			.carousel-inner{
				max-width: 1942px;
				height: inherit;

				&>.carousel-item,
				&>.carousel-item>img{
					width: 100%;
					height: 100%;
				}

				.carousel-caption{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					text-align: left;
					.container-fluid{
						width: 100%;
						height: 100%;

						.container > .row{
							height: 450px;
							position: relative;

							@media (max-width: 500px){
								height: 400px;
								display: none;
							}

							h2,
							h1{
								font-family: Oswald;
								font-style: normal;
								font-weight: bold;
								font-size: 48px;
								letter-spacing: 1px;
								color: $color1;

								@media (max-width: 500px){
									font-size: 36px;
								}
								
							}

							h1{
								font-size: 96px;
								text-transform: uppercase;
								@media (max-width: 500px){
									font-size: 72px;
								}
							}

							h4,
							th{
								font-family: Noto Sans;
								font-style: normal;
								font-weight: bold;
								font-size: 14px;
								color: $color1;
								@media (max-width: 500px){
									font-size: 11.5px;
								}
							}
							h4{
								font-size: 36px;
								@media (max-width: 500px){
									font-size: 30px;
								}
							}
							td,th{
								padding-right: 25px;
								@media (max-width: 500px){
									padding-right: 18.5px;
								}
							}

							.popoverbigGalleryHome3d{
								position: absolute;
								background-color: $color1;
								font-family: Noto Sans;
								font-style: normal;
								font-weight: normal;
								font-size: 16px;
								line-height: 26px;
								color: $color4;
								max-width: 395px;
								padding:20px;
								left: 50%;
								top: 30%;

								@media (min-width: 800px) {
									font-size: 12px;
								}

								&:before{
									content: '';
									position: absolute;
									border: 10px solid transparent;
									border-right-color: $color1;
									top: calc(50% - 10px);
									left: -20px;

								}

								p{
									margin-bottom: 0;

									&:last-child{
										margin-top: 10px;
										font-weight: bold;
										font-size: 14px;
										@media (min-width: 800px) {
											font-size: 11.5px;
										}
									}
								}
							}
						}
					}
				}
			}

			.galleryShadow{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(70, 70, 70, .35);
				@media (max-width: 500px) {
					display: none;

				}
			}

			.galleryBtns{
				position: absolute;
				z-index: 100;
				bottom: 0;
				left: 0;
				right: 0;
				@media (max-width: 500px){
						position: relative;
				}

				.container{
					padding: 0;

					@media (max-width: 800px) {
						margin: auto;
						max-width: 95% !important;						
					}
				
					.bookProj > .bookPjBtn{
						background: $color2;
						box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
						width: 394px;
						height: 115px;
						border: 0;
						outline: 0;
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						text-align: center;
						letter-spacing: 1px;
						text-transform: uppercase;
						color: $color1;

						& > svg {
							margin-right: 15px;
						}

						@media (max-width: 800px) {
							width: 100%;
							font-size: 12px;
						}
					}

					.arrowsGall{
						background-color: #F5F8FA;
						min-width: 229px;
						height: 115px;
						
						@media (max-width: 800px) {
							min-width: 50%;
						}
						.carousel-control-prev,
						.carousel-indicators,
						.carousel-control-next{
							position: static;
						}

						.carousel-indicators {
							margin-bottom: 0 !important;

							li{
								border:2px solid $color2;
								border-radius: 50%;
								width: 11px;
								height: 11px;
							}
						}
					}
				}
			}
		}
	}
}

// Filter Find of Projects
#filterFindHome{

	position: absolute;
	z-index: 1000;
	background-color: red;
	right: 0;

	.findBox{
		position: relative;

		.filterHomeBtn{
			background: transparent url("../img/filterBtn.png") no-repeat;
			border: 0;
			width: 52px;
			height: 240px;
			position: absolute;
			left: -49px;
			top: calc(35% - 120px);

			@media (max-height: 500px) {
				top: 150px;
			}

			&:focus{
				border: 0;
				outline: 0;
				box-shadow: 0 0;
			}


			&>span{
				font-family: Noto Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				letter-spacing: 1px;
				color: $color1;
				display: block;
				width: 240px;
				transform: rotateZ(-90deg) translateY(-100px);

			}
		}
		.filterHomeBody{
			background-color: $color1;
			border: 1px solid $color3;
			position: relative;

			h2,
			dl> dt{
				font-family: Noto Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 26px;
				color: $color4;
				padding: 23px;
			}

			dl{
				margin-bottom: 0;
			}

			dl> dt{
				font-size: 14px;
				border-top: 1px solid $color3;
				border-bottom: 1px solid $color3;
				display: flex;
				justify-content: space-between;
				flex-wrap: no-wrap;
				cursor: pointer;

				>span:last-child{
					color: $color2;
					font-size: 20px;
				}
			}

			dl > dd{
				padding: 20px;
				margin-bottom: 0;

				ul{
					margin-bottom: 0  !important;
				}

				table{
					margin-bottom: 0;
 					td{
 						padding: 0;
 					}
 				}

				label{
					position: relative;
					cursor: pointer;
					display: flex;
					align-items: center;
					padding-left: 35px;
 					margin-bottom: 12px;

					&>input[type="checkbox"]{
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
					}
					&>.checkmark {
					  	position: absolute;
					  	top: 0;
					  	left: 0;
					  	height: 16px;
					  	width: 16px;
					  	background-color: $color1;
					  	border: 1px solid #DAE4EA;
					  	&:after {
						  	content: "";
						  	position: absolute;
						  	display: none;
						  	left: 4.5px;
							top: 1.5px;
							width: 5px;
							height: 10px;
							border: 1.5px solid $color2;
							border-width: 0 3px 3px 0;
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
						}
					}

					& input:checked ~ .checkmark {
					  	background-color: $color1;
					  	border-color: $color2
					}
					& input:checked ~ .checkmark:after {
					  	display: block;
					}
				}

				label,
				label input[type="checkbox"]{
					font-family: Noto Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					color: $color4;
				}
			}

			.btnHomeFilterSearch,
			.resetFilterBtn{
				font-family: Noto Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $color2;
				background-color: transparent;
				border: 2px solid $color2;
				width: 90%;
				margin: 20px auto;
				display: block;
				padding: 25px 30px;

				& > svg {
					margin-left: 15px;
				}

				&:focus{
					outline: 0;
					box-shadow: 0 0;
				}
			}

			.btnHomeFilterSearch:focus{
				border: 2px solid $color2;
			}

			.resetFilterBtn{
				border: 0;
				padding: 0;
				margin: 5px auto 15px;
				font-weight: normal;
				font-size: 14px;
				line-height: 26px;
			}
		}
	}	
}

// Home New Pojectes Section
#homeNewPojectes{
	background-color: $color1;

	&>.container{
		padding: 100px 0;

		&>.row{
			h2{
				font-family: Oswald;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 71px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $color4;
				margin-bottom: 0;
			}
			button{
				font-family: Noto Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $color2;
				background-color: transparent;
				border: 0;

				&>svg{
					margin-left: 15px;
				}
			}
		}

		.containerNewProjSlider{
			&>.container{
				padding: 0;
			}
			.card{
				border-radius: 0;
				border: 1px solid $color3 !important;;
				outline: 0 !important;
		        background-color: transparent !important;


				.card-img-top{
					border-radius: 0;
					position: relative;

					.stok{
						position: absolute;
						background: #5ACB80;
						top: 15px;
						left: 15px;
						padding: 10px;
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 19px;
						color: $color1;
					}

					.info{
						position: absolute;
						bottom:25px;
						left: 15px;
						padding: 6px 10px;
						background-color: $color2;
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 19px;
						color: $color1;
						max-width: 90%;
					}

					.heart{
						position: absolute;
						background-color: #E9F1F5;
						border: 4px solid $color1;
						border-radius: 50%;
						width: 40px;
						height: 40px;
						bottom: -20px;
						right: 15px;
						z-index: 30;

						&>img{
							width: 30px;
							position: relative;
							left: -1px;
							top:-2px;
						}

						&:focus{
							background-color: $color2;
							box-shadow: 0 0;
							outline: 0;
							border-color: $color1;
						}
					}
				}

				.card-body{
					.card-title{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 26px;
						color: $color4;
						margin-bottom: 20px;
						margin-top: 20px;
					}
					.card-text{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 26px;
						text-align: justify;
						color: #88989D;
					}

					table td{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 26px;
						color: $color4;
						padding:0px 5px;

						&[rowspan='2']{
							font-family: Noto Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 24px;
							line-height: 33px;
							letter-spacing: 1px;
							text-transform: uppercase;
							color: #494949;
							text-align: right;
							@media (min-width: 400px) and (max-width: 900px) {
								font-size: 18px;
							}
						}
					}

					.cardLinkBtns{
						margin-top: 30px;
						margin-bottom: 15px;

						a{
							img{
								width: 30px;
								height: 30px;
							}
							&:focus,
							&:hover{
								border: 0;
								outline: 0;
								box-shadow: 0 0;
								text-decoration: none;
							}
						}

						& .text-right>a{
							font-family: Noto Sans;
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 26px;
							color: $color2;
							border-bottom: 1px solid #E2F5FB;
							padding-bottom: 3px;
						}
					}
				}
			}
			#demos .owl-carousel .item{
		        height: auto !important;
		        background-color: transparent !important;
		        padding: 0;
				border:0 !important;
				outline: 0 !important;

		    }
		    .owl-item .active{
				border:0 !important;
				outline: 0 !important; 
		        background-color: transparent !important;

		    }
		    .owl-theme .owl-dots{
		        display: none;
		    }

		    #demos{
		        margin: auto;
		        padding: 0 15px;
		        .row{
		        	margin: 0;
		        }
		    }

		    .owl-carousel .owl-theme .owl-loaded .owl-drag{
		        position: relative;
		    }

		    .owl-carousel .owl-stage-outer{
		        z-index: 20;
		    }

		    .owl-theme .owl-nav{
		        margin: 0;
		        position: absolute;
		        width: 100%;
		        top: 50%;
		        z-index: 10;
		    }

		    .owl-carousel .owl-nav button.owl-next{
		        position: absolute;
		        right: -65px;
		        width: 30px;
		        height: 30px;
		        background: url('../img/icons/arrow-rigth.svg') center no-repeat;
		        span{
		        	display: none;
		        }

		        @media (min-width: 700px) and (max-width: 1000px) {
					right: -40px;
		        }
		        @media (max-width: 700px) {
		        	display: none;
		        }
		        &:hover{
		        	background-color: transparent;
		        	color: transparent;
		        }
		        &:focus{
		        	outline: 0;
		        	border: 0;
		        	box-shadow: 0 0;
		        }
		    }
		    .owl-carousel .owl-nav button.owl-prev{
		        position: absolute;
		        left: -65px;
		        width: 30px;
		        height: 30px;
		        background: url('../img/icons/arrow-left.svg') center no-repeat;
		        span{
		        	display: none;
		        }

		        @media (min-width: 700px) and (max-width: 1000px) {
					left: -40px;
		        }
		        @media (max-width: 700px) {
		        	display: none;
		        }
		        &:hover{
		        	background-color: transparent;
		        	color: transparent;
		        }
		        &:focus{
		        	outline: 0;
		        	border: 0;
		        	box-shadow: 0 0;
		        }
		    }
		    .owl-carousel .owl-item img{
		    	display: inline;
		    }
		}
		
	}
}

// Order an Individual Project Section
#orderIndiviProj{
	background-color: #F5F8FA;
	
	&>.container{
		padding: 80px 0;

		&>h2{
			font-family: Oswald;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 71px;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $color4;
			@media (min-width: 1000px) {
				width: 55%;
				margin: auto;
			}
		}

		&>.row{
			margin-top: 80px;
			margin-bottom: 40px;
			
			.steps{
				text-align: center;
				margin-bottom: 25px;

				p{
					width: 78%;
					margin: auto;
					font-family: Noto Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 26px;
					color: #88989D;

					@media (max-width: 1000px) {
						width: 60%;
						max-width: 500px;
					}
				}

				&>.numStep{
					position: relative;
					width: 100px;
					height: 120px;
					margin: auto;

					&>.bgNumber{
						font-family: Oswald;
						font-style: normal;
						font-weight: bold;
						font-size: 96px;
						line-height: 142px;
						text-transform: uppercase;
						color: #E9F1F5;
						position: absolute;
						top: 0;
						left: 0;
					}
					&>.step3D{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 36px;
						line-height: 26px;
						color: $color2;
						position: absolute;
						top: calc(50% - 4px);
						left: calc(50% - 45px);
					}
					
				}	
			}
		}

		.orderIndPrBtn{
			width: 349px;
			font-family: Noto Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $color2;
			background-color: transparent;
			border: 2px solid $color2;
			margin: 20px auto;
			display: block;
			padding: 25px 30px;

			& > svg {
				margin-left: 15px;
			}

			&:focus{
				outline: 0;
				box-shadow: 0 0;
			}

			@media (max-width: 349) {
				width: 95%;
			}
		}
	}
}

// Free Projects Section
#freeProjHome3D{
	background-color: $color2;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		background-color: $color1;
		width: 100%;
		height: 50%;
		top: 50%;
		left: -60%;
		z-index: 1;

		@media (min-width: 1200px) {
			left: -58%;
		}

		@media (max-width: 999px) {
			display: none;
		}
	}

	&>.container{
		padding: 60px 0;	
		position: relative;
		z-index: 200;

		.freePrImg{
			margin-bottom: 20px;
		}

		.freePrInfo{
			padding: 15px 20px;

			h2{
				font-family: Oswald;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $color1;
			}

			p{
				font-family: Noto Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 26px;
				margin-top: 35px;
				color: #FBFEFF;
			}

			button{
				font-family: Noto Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $color1;
				background-color: transparent;
				border: 0;
				margin-top: 35px;
				margin-left: 0;
				padding-left: 0;

				&:focus{
					box-shadow: 0 0;
					border: 0;
					outline: 0;
				}
				&> svg{
					margin-left: 15px;
				}
			}
		}

	}

}

// Heading Seo Text Section
#headSeoText{
	background-color: $color1;

	&>.container{
		padding: 100px 50px 100px 100px;
		@media (max-width: 1000px) {
			padding: 100px 0;
		}

		.row{
			padding: 60px;

			h3{
				font-family: Oswald;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $color4;
				margin-bottom: 0;
			}
			.seoText{
				h4{
					font-family: Noto Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 26px;
					color: $color4;
					margin-top: 40px;
				}
				p{
					font-family: Noto Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 26px;
					color: #88989D;
					margin-top: 35px;
				}

			}

			.seoNavbar{
				border: 1px solid $color3;
				padding: 25px;
				margin-left: auto;

				h5{
					font-family: Noto Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 26px;
					color: $color4;
					margin-bottom: 10px;
				}
				ul>li{
					margin-bottom: 5px;

					&>a{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 26px;
						color: $color2;
						border-bottom: 1px solid #E2F5FB;

						&:hover{
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

// Footer
#footer3D{
	background-color: #F5F8FA;
	padding: 50px 0 0;

	&>.container{

		.footerStLinks{
			table{

				td{
					padding: 3px 15px;

					&> a{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 26px;
						color: $color4;

						&:hover{
							text-decoration: none;
						}
					}
		
				}	
			} 
		}

		.footerLsLinks{
			&>.row{
				ul>li,
				ul>li>a{
					font-family: Noto Sans;
					font-style: italic;
					font-weight: normal;
					font-size: 14px;
					line-height: 26px;
					color: #88989D;
				}
				ul>li>a{
					color: $color2;
					&:hover{
						text-decoration: none;
					}
				}

				.homeFooterContact{
					background-color: transparent;
					border: 0;
					margin: 0;
					padding: 0;
					display: flex;

					&:focus{
						border: 0;
						outline: 0;
						box-shadow: 0 0;
					}

					span{
						min-height: 47px;
						margin-right: 15px;
						border: 2px solid $color2;
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 19px;
						text-align: center;
						color: $color2;
						padding: 10px  12px;
					}
				}
			}
		}
	}

	.footerCopyYouT{
		padding: 25px 0  15px;			
		border-top: 1px solid $color3;
		margin-top: 35px;

		p, a{
			font-family: Noto Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 18px;
			color: #C4CED5;
		}
		a{
			vertical-align: top;
			&:hover{
				text-decoration: none;
			}
			span{
				margin-left: 15px;
				width: 30px;
				height: 30px;
				display: inline-block;
				background-color: #E9F1F5;
				border-radius: 50%;
				position: relative;
				top: -5px;

				img{
					position: absolute;
					top: calc(50% - 5px);
					left: calc(50% - 7px);
				}
			}
		}
	}

}