$color1: #fff;
$color2: #5FCAEA;
$color3: #DDE9EF;
$color4: #494949;

*{
	box-sizing: border-box;
}

*:focus{
	color: #495057;
    background-color: #fff;
    border-color: $color3 !important;
    outline: 0;
    box-shadow: 0 0 !important;
}

#menu3D{

	&>.container-fluid{
		padding: 0;
		background-color: $color1;
		
		&>.navbar{
			padding:0;
			border-bottom:  1px solid $color3;
			align-items: stretch;

			&>.container{
				padding-right: 0;
				padding-left: 0;
				align-items: stretch;

				& .row{
					margin-right: 0;
 					margin-left: 0;

 					& .searchBtn{
						border-left: 1px solid $color3;
						border-right: 1px solid $color3;
					}

 					& .input-group{
						width: 285px;
						height: 40px;

						& .form-control{
							border-right: 0;
							height: inherit;
							border-color: #DAE4EA;
							border-radius: 0;
							font-family: Noto Sans;
							font-style: normal;
							font-weight: normal;
							font-size: 12px;
							color: $color4;
							padding-left: 25px;
							&::placeholder{
								color: #C4CED5;
							}
						}

						& .input-group-text{
							background-color: transparent;
							line-height: 0;
							padding-top: 0;
							padding-bottom: 0;
							border-left: 0;
							border-color: #DAE4EA;
							border-radius: 0;
							cursor: pointer;

							&:focus{
								color: #495057;
							    background-color: #fff;
							    border-color: $color3 !important;
							    outline: 0;
							    box-shadow: 0 0 !important;
							}
						}
 					}
				}

				& .navbar-nav{

					& .nav-link{
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						letter-spacing: 1px;
						text-transform: uppercase;
						color:$color4;
					}
				}

			}

			&>.navbar-brand{
				border-right: 1px solid $color3;
				padding: 20px;

				&> img{
					width: 100%;
				}	
			}

			
			&>.minMenu3D {
				width: 380px;
				
				&>.row{
					margin-right: 0;
 					margin-left: 0;

 					& .prjMenuThree{
 						background-color: transparent;
 						border: 0;
 						&:focus{
 							border: 0;
 							outline: 0;
 							box-shadow: 0 0;
 						}
 					}

 					&>.phBtn{
						border-right: 1px solid $color3;

						& .phone{
							background-color: #E9F1F5;
							width: 30px;
							height: 30px;
							border-radius: 50%;
							position: relative;

							&>img{
								width: 15px;
								height: 15px;
								border-radius: 50%;
								position: absolute;
								top: calc(50% - 7.5px);
								left:calc(50% - 7.5px);
							}
						}
					} 
				}
			}
		}

	}
}

#home3D{

	section.container-fluid{
		padding: 0;
		background-color: rgba(70, 70, 70, .35);
		display: flex;
		justify-content: center;

		#bigGalleryHome3d{
			max-width: 1942px;
			height: 100vh;
				
			@media (min-width: 1942px) {
					height: 916px;
			}

			.carousel-inner{
				max-width: 1942px;
				height: inherit;

				.carousel-caption{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					text-align: left;
					.container-fluid{
						width: 100%;
						height: 100%;
					}
				}
			}

			.galleryShadow{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(70, 70, 70, .35);
			}

			.galleryBtns{
				position: absolute;
				z-index: 1000;
				bottom: 0;
				left: 0;
				right: 0;

				.container{
					padding: 0;
				
					.bookProj > .bookPjBtn{
						background: $color2;
						box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
						width: 394px;
						height: 115px;
						border: 0;
						outline: 0;
						font-family: Noto Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						text-align: center;
						letter-spacing: 1px;
						text-transform: uppercase;
						color: #FFFFFF;
						& > svg {
							margin-right: 15px;
						}
					}

					.arrowsGall{
						background-color: #F5F8FA;
						width: 229px;
						height: 115px;

						.carousel-control-prev,
						.carousel-indicators,
						.carousel-control-next{
							position: static;
						}

						.carousel-indicators {
							margin-bottom: 0 !important;

							li{
								border:2px solid $color2;
								border-radius: 50%;
								width: 11px;
								height: 11px;
							}
						}
					}
				}
			}
		}
	}
}